body {
    background-image: url(https://images.unsplash.com/photo-1603366615917-1fa6dad5c4fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    color: cyan;
    font-size: 39px;
  }

p {
    text-align: center;
    color: cyan;
    font-size: 24px;
    margin-top: 30px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.border-image {
    border: 7px solid rgb(0, 0, 0);
    transition: border-color 0.5s ease;
  }
  
  .border-image:hover {
    border-color: #f00;
  }

  img {
    transition: transform 0.3s ease-in-out;
  }
  
  img:hover {
    transform: scale(1.1);
  }